networks:
  default:
    driver: bridge
services:
  libpostal:
    image: pelias/libpostal-service
    container_name: pelias_libpostal
    user: "${DOCKER_USER}"
    restart: always
    ports: ["127.0.0.1:4400:4400"]
  schema:
    image: flyingdev/pelias-schema:master
    container_name: pelias_schema
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
  api:
    image: flyingdev/pelias-api:master
    container_name: pelias_api
    user: "${DOCKER_USER}"
    restart: always
    environment:
      - "PORT=4000"
      - "PELIAS_WOF_ADMIN_LOOKUP_MAX_CONCURRENT=24"
      - "PELIAS_ADMIN_LOOKUP_MAX_CONCURRENT=24"
    ports: ["0.0.0.0:4000:4000"]
    volumes:
      - "./pelias.json:/code/pelias.json"

  placeholder:
    image: pelias/placeholder:master
    container_name: pelias_placeholder
    user: "${DOCKER_USER}"
    restart: always
    environment: ["PORT=4100"]
    ports: ["127.0.0.1:4100:4100"]
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
      - "./blacklist/:/data/blacklist"
  whosonfirst:
    image: flyingdev/pelias-whosonfirst:master
    container_name: pelias_whosonfirst
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
      - "./blacklist/:/data/blacklist"
  openstreetmap:
    image: flyingdev/pelias-openstreetmap:master
    container_name: pelias_openstreetmap
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
      - "./blacklist/:/data/blacklist"
    environment:
      - "NODE_OPTIONS=--max-old-space-size=12000"
  openaddresses:
    image: flyingdev/pelias-openaddresses:master
    container_name: pelias_openaddresses
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
      - "./blacklist/:/data/blacklist"
    environment:
      - "PELIAS_IMPORTS__OPENADDRESSES__FILES=**/*.csv"
      - "PELIAS_IMPORTS__ADMINLOOKUP__MAXCONCURRENT=24"
      - "NODE_OPTIONS=--max-old-space-size=12000"
  geonames:
    image: pelias/geonames:master
    container_name: pelias_geonames
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
      - "./blacklist/:/data/blacklist"
  csv-importer:
    image: flyingdev/pelias-csv-importer:master
    container_name: pelias_csv_importer
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
      - "./blacklist/:/data/blacklist"
  transit:
    image: flyingdev/pelias-transit:master
    container_name: pelias_transit
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
  polylines:
    image: flyingdev/pelias-polylines:master
    container_name: pelias_polylines
    user: "${DOCKER_USER}"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
  interpolation:
    image: pelias/interpolation:master
    container_name: pelias_interpolation
    user: "${DOCKER_USER}"
    restart: always
    environment: ["PORT=4300"]
    ports: ["127.0.0.1:4300:4300"]
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
  pip:
    image: pelias/pip-service:master
    container_name: pelias_pip-service
    user: "${DOCKER_USER}"
    restart: always
    environment: ["PORT=4200"]
    ports: ["127.0.0.1:4200:4200"]
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
  fuzzy-tester:
    image: pelias/fuzzy-tester:master
    container_name: pelias_fuzzy_tester
    user: "${DOCKER_USER}"
    restart: "no"
    command: "--help"
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "./test_cases:/code/pelias/fuzzy-tester/test_cases"
  opensearch:
    image: flyingdev/opensearch:1.3.20
    container_name: opensearch
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms31g -Xmx31g -XX:+AlwaysPreTouch"
      - discovery.type=single-node
      - cluster.name=docker-cluster
    mem_limit: 40g
    ports:
      - 9200:9200
      - 9300:9300
  valhalla:
    image: ghcr.io/gis-ops/docker-valhalla/valhalla:latest
    container_name: valhalla
    ports:
      - "8002:8002"
    volumes:
      - "${DATA_DIR}/openstreetmap:/custom_files"
    environment:
      - tile_extract=/custom_files/us-latest.osm.pbf
      - build_elevation=True
      - build_admins=True
      - build_time_zones=True
      - server_threads=4
  tileserver:
    image: maptiler/tileserver-gl
    container_name: tileserver
    ports:
      - "8080:8080"
    volumes:
      - "${DATA_DIR}/openstreetmap:/data"
    command: "-p 8080 -d /data/north-america.mbtiles"
